<div class="container">

	 <ul>
  <li><a [routerLink]="['/home/']">Home</a></li>
  <li><a [routerLink]="['/news/home/']">News</a></li>
  <li><a [routerLink]="['/slider/home/']">Slider</a></li>
  <li><a [routerLink]="['/category/home/']">Category</a></li>
</ul>

	 <div style="text-align:center">
 	 <h1>
  	 Kategori Ekle
  
  	</h1>
	</div>
	
		<form [formGroup]="category">
		<div>
		<label>Kategori Adi</label>
		<input type="text" formControlName="categoryName">
		</div>
	
	<button type="submit" (click)="addCategory()"> Kategori Ekle</button>
	</form>
	
	
	<h2> Kategoriler</h2>
	<div *ngIf="list != null" >
	<div *ngFor="let item of categoryList | async" style="border: 1px solid black;">
		<div>
		
			{{item.categoryName}}
		</div>
		
	</div>
	
	
	<div style="text-align:center">
 	 <h1>
  	 Haberler
  
  	</h1>
	</div>
	
	<form [formGroup]="forms">
		<div>
		<label>Baslik Adi</label>
		<input type="text" formControlName="baslik">
		</div>
		
		<div>
		<label>Yazi</label>
		<input type="text" formControlName="yazi">
		</div>
		
		<div>
		<label>Yazar Adi</label>
		<input type="text" formControlName="yazar">
		</div>
		
		<div>
		<label>Resim URL</label>
		<input type="text" formControlName="img">
		</div>
	
	<button type="submit" (click)="addList()"> Yazi Ekle</button>
	</form>
	
	<div *ngIf="list != null" >
	<div *ngFor="let item of items | async" style="border: 1px solid black;">
		<div>
		<h2> Baslik</h2>
			{{item.baslik}}
			
		</div>
		<div>
			<h2>Resim</h2>
			<img src="{{item.img}}">
		</div>
		<div>
			<h2>Yazi</h2>
			{{item.yazi}}
		</div>
		<div>
			<h2>Yazar</h2>
			{{item.yazar}}
		</div>
	</div>
	</div>
</div>

